


.main-product-list-a{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product-a{
    cursor: pointer;
    width: 50%;
    height: 200px;
    display: flex;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(97, 228, 231);
}


.product-image{
    cursor: pointer;
    width: 50%;
    height: 100%;
}