

.main-cart-a{
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cart-data{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(77, 188, 228);
}

.cart-button-a{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button-a button{
    padding: 10px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}