.main-front-page-a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-slider-a {
    width: 80%;
    height: 400px;
    box-shadow: 0px 0px 3px black;
}


.main-box-a {
    margin: 10px;
    width: 90%;
    height: 400px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.block-a {
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 3px black;
}


.block-a imG{
    width: 100%;
    height: 100%;
}

.main-small-box-a {
    margin: 10px;
    width: 90%;
    height: 400px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.small-box-row {
    display: flex;
    align-items: center;
}

.small-box {
    margin: 10px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px black;
}


.small-box img {
    cursor: pointer;
    width: 100%;
    height: 100px;
    transition: transform 0.3s ease-in-out; /* Add transition */
}

.small-box:hover img {
    transform: scale(1.1); /* Change the scale value for the desired zoom effect on hover */
}
