


.main-login-a{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}


/* Add this to your styles (e.g., LoginComponent.css) */
.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Set a max-width if you want to limit the width of the form */
    margin: auto; /* Center the form horizontally */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  