

.main-navbar-a{
    width: 100%;
  
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:tomato;
}


.sub-navbar-a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
  
    justify-content: space-evenly;

}


.navbar-logo-a h1{
    color: white;
}


.navbar-input-a{
    width: 50%;
    height: 90%;
  
}


.navbar-input-a input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}


.navbar-login-status-a{
    width: 10%;
    height: 70%;
}

.navbar-login-status-a button{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}


.navbar-cart-shop-a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 70%;

}

.navbar-cart-shop-a button{
    margin: 3px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;

}

