



.main-footer-a{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.footer-a h1{
    color: white;
    font-weight: bold;

}